[submodule "sites/all/modules/views"]
	path = sites/all/modules/views
	url = git://git.drupal.org/project/views
[submodule "sites/all/modules/views_slideshow"]
	path = sites/all/modules/views_slideshow
	url = git://git.drupal.org/project/views_slideshow
[submodule "sites/all/modules/addressfield"]
	path = sites/all/modules/addressfield
	url = git://git.drupal.org/project/addressfield
[submodule "sites/all/modules/admin_menu"]
	path = sites/all/modules/admin_menu
	url = git://git.drupal.org/project/admin_menu
[submodule "sites/all/modules/commerce"]
	path = sites/all/modules/commerce
	url = git://git.drupal.org/project/commerce
[submodule "sites/all/modules/ctools"]
	path = sites/all/modules/ctools
	url = git://git.drupal.org/project/ctools
[submodule "sites/all/modules/elysia_cron"]
	path = sites/all/modules/elysia_cron
	url = git://git.drupal.org/project/elysia_cron
