[submodule "sites/all/modules/views"]
	path = sites/all/modules/views
	url = git://git.drupal.org/project/views
[submodule "sites/all/modules/views_slideshow"]
	path = sites/all/modules/views_slideshow
	url = git://git.drupal.org/project/views_slideshow
[submodule "sites/all/modules/addressfield"]
	path = sites/all/modules/addressfield
	url = git://git.drupal.org/project/addressfield
[submodule "sites/all/modules/admin_menu"]
	path = sites/all/modules/admin_menu
	url = git://git.drupal.org/project/admin_menu
[submodule "sites/all/modules/commerce"]
	path = sites/all/modules/commerce
	url = git://git.drupal.org/project/commerce
[submodule "sites/all/modules/ctools"]
	path = sites/all/modules/ctools
	url = git://git.drupal.org/project/ctools
[submodule "sites/all/modules/elysia_cron"]
	path = sites/all/modules/elysia_cron
	url = git://git.drupal.org/project/elysia_cron
[submodule "sites/all/modules/entity"]
	path = sites/all/modules/entity
	url = git://git.drupal.org/project/entity
[submodule "sites/all/modules/globalredirect"]
	path = sites/all/modules/globalredirect
	url = git://git.drupal.org/project/globalredirect
[submodule "sites/all/modules/imce"]
	path = sites/all/modules/imce
	url = git://git.drupal.org/project/imce
[submodule "sites/all/modules/imce_mkdir"]
	path = sites/all/modules/imce_mkdir
	url = git://git.drupal.org/project/imce_mkdir
[submodule "sites/all/modules/imce_wysiwyg"]
	path = sites/all/modules/imce_wysiwyg
	url = git://git.drupal.org/project/imce_wysiwyg
[submodule "sites/all/modules/job_scheduler"]
	path = sites/all/modules/job_scheduler
	url = git://git.drupal.org/project/job_scheduler
[submodule "sites/all/modules/libraries"]
	path = sites/all/modules/libraries
	url = git://git.drupal.org/project/libraries
[submodule "sites/all/modules/link"]
	path = sites/all/modules/link
	url = git://git.drupal.org/project/link
[submodule "sites/all/modules/metatag"]
	path = sites/all/modules/metatag
	url = git://git.drupal.org/project/metatag
[submodule "sites/all/modules/module_filter"]
	path = sites/all/modules/module_filter
	url = git://git.drupal.org/project/module_filter
[submodule "sites/all/modules/panels"]
	path = sites/all/modules/panels
	url = git://git.drupal.org/project/panels
